@import './components//styles/colors.scss';

:global {
    * {
        box-sizing: border-box;
    }

    html, body, #root {
        height: 100%;
        padding: 0;
        margin: 0;
    }

    #root {
        background-color: $lightGrey;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}